.error-message {
    color: #e3342f; /* Red color for error text */
    font-size: 0.875rem; /* Match font size to Material Design standards */
    margin-top: -20px; /* Adjust left margin as needed for alignment */
    display: block; /* Ensure the error text is on its own line */
  }
  
